extends layout

block content 
	div(class="cr")
		div(class="container cr-header")
			a(class="h2 title animated-link cr-header__title" href="/") Back to homepage
			a(class="popup-opener cr-settings__opener tooltip-container")
				div(class="tooltip tooltip--left") Show settings
				i(class="icon-gear")
			include popup.jade
				include room_settings.jade		
		div(class="cr-video")
		div(class="cr-chat")
			div(class="cr-chat-item cr-chat-chat open shown")
				span(class="cr-chat__title h4 title") chat
					i(class="icon-cheveron-down")
				div(class="cr-chat-content chat")
					div(class="chat-message")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit porro debitis, accusamus architecto soluta.
					div(class="chat-message")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit porro debitis, accusamus architecto soluta.
					div(class="chat-message")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit porro debitis, accusamus architecto soluta.					
			div(class="cr-chat-item cr-chat-users shown")
				span(class="cr-chat__title h4 title") users
					i(class="icon-cheveron-down")
				div(class="cr-chat-content users")
					div(class="chat-message")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit porro debitis, accusamus architecto soluta.
					div(class="chat-message")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit porro debitis, accusamus architecto soluta.
block scripts
	script(src='/socket.io/socket.io.js')								
	script(src='/js/script.js')								
	script(src='/js/chatroom.js')								
