extends layout

block content
	div.container
		div.header
			h3.header__text.text--big.tac.user-nickname.
				You are logged as
			a.btn.btn--primary.popup-opener Log as another user
			include popup.jade
				include auth.jade	
		div.users
			h2.title.h2.users__title Users are online		
block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/script.js')
	script(src='/js/main.js')
