h2.title.h2.mb--reg.tal Configure your room
div.tal.nr
	div.input-container
		input(class="input input--text" id="room-name" placeholder="Enter the room name")
		label(for="room-name" class="input-label") Enter the name for your room
	div.input-container
		input(class="input input--text" id="room-users-count" placeholder="Enter the maximum count of users")
		label(for="room-name" class="input-label") Enter the maximum count of users in the room (no more than 
			span.nr__max-users 16
			)	
	div.input-container
		div(class="selectbox" id="room-security")
			span(class="selectbox__title input--text input" data-triggered="false") Any user can enter
			ul.selectbox-container
				li.selectbox__item.input--text.input Any user can enter
				li.selectbox__item.input--text.input User must get a room initiator's acception to enter
				li.selectbox__item.input--text.input No users can enter the room except invited ones