h2.title.h2.mb--reg.tal Settings
div.cr-settings
	a(class="users-user cr-settings__item cr-settings__chat selected") Show chat 
	a(class="users-user cr-settings__item cr-settings__users selected") Show users online