h2.title.h2.mb--reg.tal Settings
div.cr-settings
	a(class="users-user cr-settings__item cr-settings__chat selected") Show chat 
	a(class="users-user cr-settings__item cr-settings__users selected") Show users online
	div(class="input-container mt--reg")
		input(class="input input--text" id="cr-settings__grid" placeholder="Number from 1 to 8")
		label(for="cr-settings__grid" class="input-label") Number of video in a row. Enter any integer value from 1 to 8	