@font-face {
  font-family: 'lato--thin';
  src: url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'lato--regular';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?x7hzls");
  src: url("../fonts/icomoon.eot?x7hzls#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?x7hzls") format("truetype"), url("../fonts/icomoon.woff?x7hzls") format("woff"), url("../fonts/icomoon.svg?x7hzls#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

body {
  background: #F7F7F7;
  font-family: "lato--regular"; }

input, textarea, button, select {
  font-family: "lato--regular"; }

.h2 {
  font-size: 24px; }

.container {
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.margin {
  margin-top: 15px;
  margin-bottom: 15px; }

.mb--reg {
  margin-bottom: 20px; }

.padding {
  padding-top: 15px;
  padding-bottom: 15px; }

.text--big {
  font-size: 16px; }

.tac {
  text-align: center; }

.fl--r {
  float: right; }

.notification {
  z-index: 100;
  width: 300px;
  max-height: 200px;
  overflow: auto;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s ease-in-out; }
  .notification.shown {
    transform: none;
    opacity: 1; }
  .notification__span {
    font-weight: bold;
    font-size: 15px; }
  .notification__text {
    display: block;
    font-size: 13px;
    color: #fff; }

.btn {
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }
  .btn--primary {
    background-color: #B3B1DB; }
    .btn--primary:hover, .btn--primary:active, .btn--primary:focus {
      background-color: #c4c2e3; }
  .btn--secondary {
    background-color: #A49F9D; }
    .btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus {
      background-color: #b0acaa; }
  .btn--disabled {
    background-color: #A49F9D; }
    .btn--disabled:hover, .btn--disabled:active, .btn--disabled:focus {
      background-color: #A49F9D;
      cursor: auto; }

.title {
  font-family: "lato--thin";
  text-transform: uppercase; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
  opacity: 0;
  transition: 0.3s ease-in-out; }
  .overlay.shown {
    opacity: 1; }

@keyframes user-selected-anim {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 190px 0px rgba(0, 0, 0, 0.1); } }

.users__self {
  font-size: 13px;
  margin-left: 10px; }

.users__counter {
  font-size: 12px;
  margin-left: 5px; }

.users__invite {
  transition: 0.3s ease-in-out; }

.users-user {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 25px;
  background: #fff;
  cursor: pointer;
  transition: .1s ease-in-out background-color;
  border-bottom: 1px solid #F7F7F7;
  position: relative; }
  .users-user:after {
    content: '\ea10';
    font-family: icomoon;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    transition: .3s ease-in-out opacity; }
  .users-user:active, .users-user:focus {
    border-bottom: 1px solid #F7F7F7; }
  .users-user span {
    transition: .1s ease-in-out color; }
  .users-user:hover, .users-user.selected {
    background: #B3B1DB;
    color: #fff; }
  .users-user > div {
    transition: .3s ease-in-out transform; }
  .users-user.selected > div {
    transform: translateX(10px); }
  .users-user.selected:after {
    opacity: 1; }
  .users-user--self:hover, .users-user--self.selected {
    background: #fff;
    color: #000;
    cursor: auto; }

.s-chat-messages {
  background: #fff;
  padding: 10px; }
  .s-chat-messages__author {
    font-weight: bold;
    margin-right: 20px; }
  .s-chat-messages__date {
    font-size: 14px;
    color: #A49F9D;
    font-weight: bold;
    font-family: "lato--thin"; }
  .s-chat-messages__message {
    padding: 5px;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out; }
    .s-chat-messages__message.shown {
      opacity: 1; }
    .s-chat-messages__message--self p, .s-chat-messages__message--user p {
      margin-top: 15px;
      line-height: 18px; }
    .s-chat-messages__message--server {
      color: #A49F9D;
      font-family: "lato--thin";
      font-size: 14px; }
      .s-chat-messages__message--server em {
        font-style: normal;
        font-weight: bold;
        color: #B3B1DB; }

.s-chat-input {
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  .s-chat-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F7F7F7; }
  .s-chat-input__submit, .s-chat-input__input {
    height: 50px;
    line-height: 46px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: #000; }
  .s-chat-input__submit {
    text-align: center;
    width: 100px;
    border: 2px solid #B3B1DB;
    background: #fff;
    cursor: pointer; }
    .s-chat-input__submit:hover, .s-chat-input__submit:focus, .s-chat-input__submit:active {
      border: 2px solid #DA7856; }
  .s-chat-input__input {
    width: calc(100% - 100px - 15px);
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #d5d4eb; }
    @media (max-width: 768px) {
      .s-chat-input__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px; } }
    .s-chat-input__input:hover, .s-chat-input__input:focus, .s-chat-input__input:active {
      border: 2px solid #B3B1DB; }

.popup {
  width: 730px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px 15px;
  display: none;
  opacity: 0;
  transition: 0.3s ease-in-out; }
  .popup.shown {
    opacity: 1; }
  .popup__text {
    margin-bottom: 20px;
    font-size: 18px; }

@media (max-width: 768px) {
  .popup {
    width: calc(100% - 30px); } }

.header {
  padding: 30px 0;
  text-align: center; }
  .header__text {
    margin-bottom: 20px; }
    .header__text span {
      margin-left: 5px;
      color: #B3B1DB; }
