.cr {
	background-color: $cr_bg;
	height: 100%;

	&-settings {
		&__opener {
			float: right;
			color: #fff;
			font-size: 32px;
			cursor: pointer;

			i {
				transition: .4s ease-in-out;
				display: block; 
			}

			&:hover i {
				color: lighten($active, 15%);
				transform: rotate(360deg);
			}
		}

		&__item {
			display: block;

			&:hover:after {
				color: #fff;
			}

			&:after {
				content: "\ea0f";
				font-family: 'icomoon';
				color: #000;
				opacity: 1;
			}

			&.selected {
				&:after {
					content: "\ea10";
					color: #fff;
				}
			}
		}
	}

	&-header {
		padding-top: 30px;
		padding-bottom: 30px;

		&__title {
			color: #fff;
		}
	}

	&-chat {
		position: fixed;
		bottom: $gutter;
		right: $gutter;
		width: 300px;

		&-item {
			position: relative;
			opacity: 0;
			transition: $anim_duration ease-in-out;
			background-color: #fff;

			&.shown {
				opacity: 1;
			}

			&.open {
				.cr-chat__title {
					background-color: $primary;
					color: #fff;

					.icon-cheveron-down {
						transform: rotate(180deg);
						color: #fff;
					}
				}
			}
		}

		&__title {
			padding: 15px 20px;
			display: block;
			font-weight: bold;
			font-size: 16px;
			cursor: pointer;
			position: relative;
			z-index: 1;

			.icon-cheveron-down {
				position: absolute;
				right: 10px;
				top: 16px;
			}

			&:hover {
				background: $primary;
				color: #fff;

				& + .icon-cheveron-down {
					color: #fff;
				}
			}
		}

		&-content {
			height: 0;
			transition: $anim_duration ease-in-out height;
			overflow-y: scroll;
		}

		&__title {
			color: #000;
		}
	}
}