body {
	background: $base;
	font-family: $font--basic;
}

input, textarea, button, select {
	font-family: $font--basic;
}

.h2 {
	font-size: 24px;
}

.container {
	@include container;
}

.margin {
	@include margin;
}

.mb {
	&--reg {
		margin-bottom: 20px;
	}
}

.padding {
	@include padding;
}

.text {
	&--big {
		font-size: 16px;
	}
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.fl {
	&--r {
		float: right;
	}
}

.input {
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid lighten($primary, 10%);
	width: 350px;
	display: inline-block;
	vertical-align: middle;

	&-container {
		margin-bottom: $gutter;
	}

	&-label {
		width: calc(100% - 350px);
		display: inline-block;
		vertical-align: middle;
		padding-left: $gutter;
		font-size: 13px;
	}

	&:focus, &:hover, &:active {
		border: 2px solid $primary;
	}

	&--text {
		height: 50px;
	}
}

.notification {
	z-index: 100;
	width: 300px;
	max-height: 200px;
	overflow: auto;
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: $gutter;
	background: rgba(0,0,0,.8);
	opacity: 0;
	transform: translateY(30px);
	transition: $anim_duration ease-in-out;

	&.shown {
		transform: none;
		opacity: 1;
	}

	&__span {
		font-weight: bold;
		font-size: 15px;
	}

	&__text {
		display: block;
		font-size: 13px;
		color: #fff;
	}
}

.btn {
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;

	&--primary {
		background-color: $primary;

		&:hover, &:active, &:focus {
			background-color: lighten($primary, 5%);
		}
	}

	&--secondary {
		background-color: $gray;

		&:hover, &:active, &:focus {
			background-color: lighten($gray, 5%);
		}
	}

	&--disabled {
		background-color: $gray;

		&:hover, &:active, &:focus {
			background-color: $gray;
			cursor: auto;
		}
	}
}

.title {
	font-family: $font--headings;
	text-transform: uppercase;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: $tr;
	z-index: 900;
	opacity: 0;
	transition: $anim_duration ease-in-out;

	&.shown {
		opacity: 1;
	}
}

.selectbox {
	position: relative;
	cursor: pointer;

	&__item {
		display: block;
		width: 100%;
		margin-top: -1px;
		background: #fff;
	}

	&__item,
	&__title {
		height: auto;
		min-height: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&-container {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
	}

	&.shown {
		.selectbox-container {
			display: block;
		}
	}
}

@keyframes user-selected-anim {
	0% {
		box-shadow: 0px 0px 0px 0px $tr--light;
	}
	100% {
		box-shadow: 0px 0px 190px 0px $tr--light;
	}
}

.users {
	&__self {
		font-size: 13px;
		margin-left: 10px;
	}

	&__counter {
		font-size: 12px;
		margin-left: 5px;
	}

	&__invite {
		transition: $anim_duration ease-in-out;
	}

	&-user {
		@include padding;
		padding-left: 15px;
		padding-right: 25px;
		background: #fff;
		cursor: pointer;
		transition: .1s ease-in-out background-color;
		border-bottom: 1px solid $base;
		position: relative;

		&:after {
			content: '\ea10';
			font-family: icomoon;
			opacity: 0;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate(0, -50%);
			transition: .3s ease-in-out opacity;
		}
		
		&:active,
		&:focus {
			border-bottom: 1px solid $base;
		}

		span {
			transition: .1s ease-in-out color;
		}

		&:hover,
		&.selected {
			background: $primary;
			color: #fff;
		}

		& > div {
			transition: .3s ease-in-out transform;
		}

		&.selected {
			& > div {
				transform: translateX(10px);
			}

			&:after {
				opacity: 1;
			}
		}

		&--self {
			&:hover,
			&.selected {
				background: #fff;
				color: #000;
				cursor: auto;
			}
		}
	}
}

.s-chat {
	&-messages {
		background: #fff;
		padding: 10px;

		&__author {
			font-weight: bold;
			margin-right: 20px;
		}

		&__date {
			font-size: 14px;
			color: $gray;
			font-weight: bold;
			font-family: $font--headings;
		}

		&__message {
			padding: 5px;
			margin-bottom: 20px;
			opacity: 0;
			transition: $anim_duration ease-in-out;

			&.shown {
				opacity: 1;
			}

			&--self,
			&--user {
				p {
					margin-top: 15px;
					line-height: 18px;
				}
			}

			&--server {
				color: $gray;
				font-family: $font--headings;
				font-size: 14px;

				em {
					font-style: normal;
					font-weight: bold;
					color: $primary;
				}
			}
		}
	}
	
	&-input {
		@include container;

		&-container {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $base;
		}

		&__submit,
		&__input {
			height: 50px;
			line-height: 46px;
			font-size: 16px;
			display: inline-block;
			vertical-align: top;
			color: #000;
		}

		&__submit {
			text-align: center;
			width: 100px;
			border: 2px solid $primary;
			background: #fff;
			cursor: pointer;

			&:hover,
			&:focus,
			&:active {
				border: 2px solid $active;
			}
		}

		&__input {
			width: calc(100% - 100px - #{$gutter});
			margin-right: $gutter;
			padding-left: 15px;
			padding-right: 15px;
			border: 2px solid lighten($primary, 10%);

			@media (max-width: $md) {
				width: 100%;
				margin-right: 0;
				margin-bottom: $gutter;;
			}

			&:hover,
			&:focus, 
			&:active {
				border: 2px solid $primary;
			}
		}
	}
}