$base: #F7F7F7;
$gray: #A49F9D;
$primary: #B3B1DB;
$active: #DA7856;
$tr: rgba(0,0,0, .3);
$tr--light: rgba(0,0,0,.1);
$cr_bg: #212937;

$gutter: 15px;
$container: 900px;
$input_width: 350px;

$chat_width--lg: 500px;
$chat_width: 300px;

$unmute_button_size: 30px;

$anim_duration: .3s;
$anim_duration--sm: .15s;

$font--basic: 'lato--regular';
$font--headings: 'lato--thin';

$xll: 2560px;
$xl: 1400px;
$lg: 1024px;
$md: 768px;
$sm: 620px;