$base: #F7F7F7;
$gray: #A49F9D;
$primary: #B3B1DB;
$active: #DA7856;
$tr: rgba(0,0,0, .3);

$gutter: 15px;
$container: 730px;

$anim_duration: .3s;

$font--basic: 'lato--regular';
$font--headings: 'lato--thin';